// this partial contains header for project

.header {
  height: 85vh; // 85% of viewport height
  // gradient direction, color1, color2, opacity
  // for normal resolution use this image
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/hero-small.jpg');
  background-size: cover; // fits image in its container
  background-position: top; // preserve top of image, bottom can crop on resize screen
  position: relative; // reference/origin to logo-box position

  // feature query
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    // top left xy, top right xy, bottom left xy, bottom right xy
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh; // 95% of viewport height
  }

  // responsive images from css using media query for resolution
  // dpi => dots per inch
  // for higher resolution use higher resolution image
  // resolution >= 192dpi and width >= 600px apply only
  // @media (min-resolution: 192dpi) and (min-width: 600px) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba($color-primary-light, 0.8),
  //       rgba($color-primary-dark, 0.8)
  //     ),
  //     url('../img/hero.jpg');
  // }

  // for very larger screen use higher resolution image
  // @media (min-width: 2000px) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba($color-primary-light, 0.8),
  //       rgba($color-primary-dark, 0.8)
  //     ),
  //     url('../img/hero.jpg');
  // }

  // combination of above two media queries
  // , => OR
  // 600px => 600 / 16 => 37.5
  // 2000px => 2000 / 16 =>
  // for safari min-resolution not works
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url('../img/hero.jpg');
  }

  // mixin for phone, <= 600px
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; // only ctrl height of img width will be take care by browser
  }

  &__text-box {
    // trick to align child box center to its parent box
    position: absolute;
    top: 40%; // 50% for center
    left: 50%;
    // in relation with element itself and not with parent
    transform: translate(-50%, -50%);
    text-align: center; // center inline elements like "<a> inside it"
  }
}
