// this partial contains stories for story section

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6); // clear to see on bg-video
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem; // cause by transform -3rem
  font-size: $default-font-size; // inherited by inner paragraph
  transform: skewX(-12deg); // skew whole story horizontaly

  // 2 transform not work on 1 element
  //   & > * {
  //       transform: skewX(12deg);
  //   }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    // define circle shape, only works when element is floated
    // apply to look element as circle
    shape-outside: circle(50% at 50% 50%); // radius at center of circle
    -webkit-shape-outside: circle(50% at 50% 50%); // for safari
    // apply to circle element itself
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    // spacing between floated image and text and skew back to normal
    transform: translateX(-3rem) skewX(12deg);
    position: relative; // reference for caption
  }

  &__image {
    height: 100%; // full width of parent container
    transform: translateX(-4rem) scale(1.4); // centerd image in circle and bigger initially
    backface-visibility: hidden; // to fix image display issue
    transition: all 0.5s; // animation for hover
  }

  &__text {
    transform: skewX(12deg); // skew back to normal
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0; // initial text condition
    transition: all 0.5s; // animation for hover
    backface-visibility: hidden; // to fix animation end shaking issue
  }

  // hover for whole story to change caption
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  // hover for whole story to change image
  &:hover &__image {
    transform: translateX(-4rem) scale(1); // centerd image in circle and smaller
    filter: blur(3px) brightness(80%); //(x < 100% => darker) and (x > 100% => lighter)
  }
}
