// this partial contains specific styles for home page of project . eg about, section page

.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // move up section to align with clip-path

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem; // move entire section up
  // gradient for feature section
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../../img/nat-4.jpg');
  background-size: cover; // img cover all space in container
  transform: skewY(-7deg); // -ve anti-clk wise, +ve clk wise

  // select every direct child of .section-features
  // here select row
  & > * {
    transform: skewY(7deg); // brings to normal position
  }

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; // move entire section up

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  // background-color: $color-gray-light-1; // no need because of bg-video
  position: relative; // reference for bg-video

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // gredient on image with deg
  // deg to split colors, 0% - 50% first color, from 50% second color
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');
  background-size: 100%; // can use 100% same as cover (100% => fit container in X direction)
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  // mixin for tablet landscape, <= 1200px
  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url('../img/nat-10.jpg');
    background-size: cover; // fit container in Y direction
  }

  // mixin for tablet portrait, <= 900px
  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url('../img/nat-10.jpg');
  }

  &__form {
    width: 50%;
    padding: 6rem;

    // mixin for tablet landscape, <= 1200px
    @include respond(tab-land) {
      width: 65%;
    }

    // mixin for tablet portrait, <= 900px
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
